/**
 * VictorThemes Styling
*/

@media (max-width:1280px) {
  .woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
      width: 57%;
  }
  .woocommerce .sgny-product-price-add-cart .product_type_simple.add_to_cart_button.added {
    display: none;
  }
  .woocommerce ul.products li.product .sgny-product-price-add-cart .added_to_cart.wc-forward, .woocommerce-page ul.products li.product .sgny-product-price-add-cart .added_to_cart.wc-forward {
    left: 0;
  }
  .sgny-product-price-add-cart .added_to_cart.wc-forward::before {
    font-family: WooCommerce;
    content: '\e017';
    vertical-align: bottom;
    padding-right: 5px;
  }

}
@media (max-width:1200px) {
  .woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
      width: 61%;
  }
}
/* Medium screen */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .sgny-container {
    width: 93%;
  }
  /*==================== Home masonary  style =======================*/
  .sgny-masonary-content-warp {
    margin: 0 -15px;
  }
  .sgny-masonary-single-post {
    padding: 0 15px;
  }
  /*==================== Home List  style =======================*/
  .sgny-list-post-media {
    margin-left: 30px;
  }
  /*==================== wooco woocommerce cart page  style =======================*/
  .woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
    width: 70%;
  }
  /*==================== wooco woocommerce checkout page  style =======================*/
  .woocommerce-checkout .sgny-page-content-area {
    width: 100%;
  }
  /*==================== wooco woocommerce account page  style =======================*/
  .woocommerce-account .woocommerce .sgny-woo-acount-login-rageter-form {
    height: 490px;
    width: 100%;
  }
}
@media (max-width:991px) {
  .admin-bar .sgny-left-sidebar {
    top: 0;
  }
  /* WPML */
  #vertical_language_list{position: absolute;right: 50px;top: 110px;}
  #horizontal_language_list{margin-top: 0;}
  .sgny-top-dropdown.sgny-wpml-dropdown{top: 80px;}
  .sgny-wpml p.wpml-not-active { position: absolute;right: 32px;top: 100px;}

}
@media (max-width:768px) {
  .admin-bar .sgny-center-header-area {
      top: 46px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
  .woocommerce-page table.cart td.actions .coupon{
    float: left;
    width: 100%;
    padding-bottom: 10px;
  }
  .woocommerce-cart form table.shop_table tbody td.actions .coupon #coupon_code{
    width: 50%;
    margin-right: 10px;
  }
  .woocommerce-cart form table.shop_table tbody td.actions .coupon input.button[type="submit"]{
    width: 48%;
  }
  .woocommerce-cart form table.shop_table tbody td.actions .coupon + input.button[type="submit"]{
    width: 100%;
  }
  .woocommerce-cart .cart_totals table.shop_table th, .woocommerce-cart .cart_totals table.shop_table td {
    padding: 15px 30px;
  }
}
@media (max-width: 992px) {
  .woocommerce-cart .cart_totals table.shop_table th, .woocommerce-cart .cart_totals table.shop_table td {
    padding: 15px 25px;
  }
  /*Checkout page*/
  .woocommerce ul.order_details li {
    margin-right: 15px;
    padding-right: 8px;
    margin-bottom: 15px;
  }
}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {

  .sgny-center-container_area.sgny-center-header-area {
    width: 50%;
    margin-left: 0;
  }
  .sgny-center-header-area {
    left: auto;
    right: 0;
    padding-bottom: 8px;
    padding-top: 15px;
  }
  .sgny-center-container_area {
    margin-left: 0;
    width: 100%;
  }
  .sgny-container {
    padding: 0 58px;
    width: 100%;
  }
  .sgny-center-header-area .sgny-container {
    padding: 0 30px;
  }
  .sgny-header-area {
    height: 100%;
  }
  .sgny-left-sidebar {
    top: 0;
    bottom: auto;
    height: 100%;
    position: relative;
    width: 100%;
  }
  .sgny-main-content {
    padding-top: 0;
  }
  .sgny-single-post.format-aside .sgny-post-header {
    margin-top: 0;
  }
  /*==================== Home masonary  style =======================*/
  .sgny-masonary-content-warp {
    margin: 0 -30px;
  }
  .sgny-masonary-single-post {
    padding: 0 30px;
  }
  /*==================== wooco woocommerce checkout page  style =======================*/
  .woocommerce-checkout .sgny-page-content-area {
    width: 90%;
  }
  /*==================== wooco woocommerce account page  style =======================*/
  .woocommerce-account .woocommerce .sgny-woo-acount-login-rageter-form {
    height: 490px;
    width: 90%;
  }

}

@media (max-width: 768px) {
  .woocommerce table.shop_table_responsive tr:nth-child(2n) td, .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
    background-color: transparent;
  }
  .woocommerce .woocommerce-cart-form table.shop_table_responsive tr, .woocommerce-page .woocommerce-cart-form table.shop_table_responsive tr {
    margin-bottom: 15px;
  }
  .woocommerce-cart form table.shop_table tbody tr:first-child td{
    border-top: 1px solid #ececec;
  }
  .woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
    width: 100%;
  }

}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
  .admin-bar .sgny-mobil_menu_warp {
    top: 63px;
    position: relative;
  }
  .admin-bar .sgny-center-header-area{
    top: 0;
  }
  .sgny-center-container_area.sgny-center-header-area {
    width: 100%;
  }
  .sgny-center-header-area {
    left: auto;
    padding-bottom: 10px;
    padding-top: 14px;
    position: absolute;
    right: 0;
  }
  .sgny-center-container_area {
    margin-left: 0 !important;
    width: 100%;
  }
  #sgny-mobil_menu li:last-child {
    padding-bottom: 30px;
  }
  .sgny-header-area {
    height: 100%;
  }
  .sgny-left-sidebar {
    top: 0;
    bottom: auto;
    height: 100%;
    position: relative;
    width: 100%;
  }
  .sgny-container {
    width: 80%;
  }
  .sgny-main-content {
    padding: 40px 15px 0;
    width: 100%;
  }
  .sgny-post-title, .sgny-post-title a {
    font-size: 22px;
    line-height: 26px !important;
  }
  .sgny-left-sidebar {
    top: 68px;
  }
  .sgny-l-sidebar-text {
    padding: 0 20px;
  }
  .sgny-l-sidebar-text h1 {
    font-size: 40px;
  }
  .sgny-right-sidebar {
    width: 300px;
  }
  .sgny-effect-right_sidebar.sgny-right-sidebar-open .sgny-pusher {
    -webkit-transform: translate3d(-300px, 0px, 0px);
    -moz-transform: translate3d(-300px, 0px, 0px);
    -ms-transform: translate3d(-300px, 0px, 0px);
    -o-transform: translate3d(-300px, 0px, 0px);
    transform: translate3d(-300px, 0px, 0px);
  }
  .sgny-mobil-sidebar-open-btn-warp {
    background-color: #ffffff;
    height: 48px;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    width: 280px;
    z-index: 999;
  }
  .sgny-single-post.format-aside {
    display: block;
  }
  .sgny-single-post.format-aside .sgny-post-media {
    display: block;
    width: 100%;
    text-align: center;
  }
  .sgny-single-post.format-aside .sgny-aside-post-warp {
    display: block;
    margin-top: 30px;
    padding-left: 0;
  }
  .sgny-footer-Instagram > .sgny-foo-Instagram-images li {
    margin-bottom: 5px;
  }
  .sgny-l-sidebar-header {
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  .menu-collapser {
    background-color: rgba(0, 0, 0, 0.9);
    height: 58px;
    line-height: 58px;
    width: 100%;
  }
  .sgny-menu-hover {
    display: none;
  }
  .sgny-mobil_menu_warp {
    display: block;
  }
  .sgny-l-sidebar-footer {
    bottom: 70px;
  }
  .sgny-posts-pagination-warp .nav-links {
    padding: 0 25px;
  }
  .wpcf7 select:not([multiple="multiple"]) {
    width: 80%;
  }
  .sgny-single-post.format-aside .sgny-post-header {
    margin-top: 0;
  }
  .sgny-single-related-post {
    margin: 0 auto;
    text-align: center;
    width: 264px;
  }
  .sgny-single-post.format-aside.format-aside-masonary{
    display: block;
  }

  /*==================== Home masonary  style =======================*/
  .sgny-masonary-content-warp {
    margin: 0;
  }
  .sgny-masonary-single-post {
    padding: 0;
  }
  .sgny-masonary-single-post-item {
    float: none;
    width: 100%;
  }
  .sgny-masonary-single-post .sgny-post-media img {
    width: 100%;
  }
  /*==================== Home List  style =======================*/
  .sgny-list-post-media {
    float: none;
    margin-left: 0;
    width: 100%;
    margin-bottom: 30px;
  }
  /*====================About page  style =======================*/
  .col-xs-4.sgny-about-signature {
    width: 100%;
  }
  .col-xs-8.sgny-about-socail {
    width: 100%;
    text-align: left;
  }
  /*==================== single post page  style =======================*/
  .sgny-post-inner-heading {
    display: block;
    float: none;
    padding: 15px 10px;
    width: 100%;
  }
  /*==================== single post page  style =======================*/
  .sgny-post-inner-photos {
    margin-left: 0;
    margin-bottom: -30px;
  }
  .sgny-inner-photo-single {
    padding-left: 0;
    width: 100%;
    float: none;
    margin-bottom: 30px;
  }
  .sgny-author-avatar {
    float: none;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .sgny-prev-post-link,
  .sgny-next-post-link {
    display: block;
    float: none;
    margin: 10px 0;
    text-align: center;
    width: 100%;
  }
  .sgny-comments-area.comments-area .comments-reply {
    position: relative;
    margin-top: 15px;
  }
  .sgny-comments-area.comments-area .comment-image {
    float: none;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .sgny-comments-area.comments-area ul.children {
    margin-left: 30px;
  }
  .sgny-comments-area.comments-area .comment-wrapper {
    padding-right: 0;
  }
  .sgny-single-related-post {
    margin: 0 auto;
    text-align: center;
    width: 264px;
  }
  /*==================== Contact page  style =======================*/
  .sgny-contact-form .sgny-contact-input-group input:first-child {
    border-right: none;
  }
  .sgny-contact-form .sgny-contact-input-group input {
    width: 100%;
    float: none;
  }
  /*==================== 404 page  style =======================*/
  .sgny-404-search-form input[type="search"] {
    width: 100%;
  }
  .sgny-404-search-form button {
    margin-left: 0;
    width: 100%;
  }
  .sgny-404-text h1 {
    font-size: 160px;
    line-height: 110px;
  }
  /*==================== shop page  style =======================*/
  .woocommerce ul.products li.product,
  .woocommerce-page ul.products li.product,
  .woocommerce ul.products[class*=columns-] li.product,
  .woocommerce-page ul.products[class*=columns-] li.product {
    width: 100%;
  }
  .woocommerce #reviews #comments ol.commentlist li img.avatar {
    float: none;
  }
  .woocommerce .woocommerce-ordering, .woocommerce .woocommerce-result-count {
    float: none;
  }
  /*==================== wooco woocommerce checkout page  style =======================*/
  .woocommerce-checkout .sgny-page-content-area {
    width: 100%;
  }
  .woocommerce-page.woocommerce-checkout form.login .form-row, .woocommerce.woocommerce-checkout form.login .form-row {
    float: none;
    width: 100% !important;
  }
  .woocommerce-checkout .woocommerce form.checkout_coupon,
  .woocommerce-checkout .woocommerce form.login,
  .woocommerce-checkout .woocommerce form.register {
    padding: 15px;
  }
  .woocommerce-checkout .woocommerce form.checkout_coupon input.button[type="submit"] {
    padding: 0 15px;
  }
  .woocommerce-checkout .woocommerce form.checkout_coupon .form-row,
  .woocommerce-checkout .woocommerce form.login .form-row, .woocommerce-checkout .woocommerce form.register .form-row {
    width: 100% !important;
  }
  /*==================== wooco woocommerce cart page  style =======================*/
  .woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
    width: 100%;
  }
  .woocommerce-cart form table.shop_table tbody th, .woocommerce-cart form table.shop_table tbody td {
    padding: 30px 20px;
  }
  .woocommerce-cart form table.shop_table tbody .quantity {
    height: auto;
    width: 200px;
  }
  .woocommerce-cart form table.shop_table tbody .quantity .sgny-qty-up {
    top: 24px;
  }
  .woocommerce-cart a.checkout-button.button {
    float: none;
  }
  .woocommerce-cart #woo_pp_ec_button {
    float: none;
  }
  .woocommerce-cart .wcppec-checkout-buttons__separator {
    padding-top: 0;
  }
  .woocommerce #review_form #respond .comment-form-author,
  .woocommerce #review_form #respond p.comment-form-email {
    width: 100%;
    float: none;
    padding: 0;
  }

  /*==================== wooco woocommerce account page  style =======================*/
  .woocommerce-account .woocommerce .sgny-woo-acount-login-rageter-form {
    height: 600px;
    width: 100%;
  }
  .sgny-woo-acount-form-style {
    padding: 20px !important;
  }
  .sgny-woo-acount-form-style  .row,
  .sgny-woo-acount-form-style  .row.sgny-woo-helo-cooke,
  .register.sgny-woo-acount-form-style .row{
    margin: 0;
  }
  .sgny-woo-acount-form-style .row  > .col-xs-6.sgny-woo-acount-f-col, .sgny-woo-acount-form-style .row.sgny-woo-helo-cooke > .col-xs-6.sgny-woo-acount-f-col {
    width: 100%;
    padding: 0;
    float: none;
  }
  .sgny-woo-acount-form-style .row.sgny-woo-acount-form .text-right.sgny-woo-acount-f-col, .sgny-woo-acount-form-style .row.sgny-woo-helo-cooke .text-right.sgny-woo-acount-f-col {
    text-align: left;
  }
  .sgny-footer-widget-monster {
    margin: inherit;
    width: 100%;
  }
  .sgny-right-sidebar-widget-monster   .sgny-side-widget.widget_rss > ul{padding-left: 18px;}
  .sgny-footer-widget-monster .sgny-footer-widget > ul, .sgny-footer-widget-monster .sgny-footer-widget > .tagcloud, .sgny-footer-widget-monster .sgny-footer-widget .menu-all-pages-container > ul {
    padding-left:50px;
  }
  .sgny-right-sidebar-inner.sgny-right-sidebar-widget-monster{width: 240px;}
  /* WPML */
  .admin-bar #horizontal_language_list {
    left: 30px;
    top: 150px;
  }
  .admin-bar #vertical_language_list {
    top: 150px;
  }
  .admin-bar .sgny-top-dropdown.sgny-wpml-dropdown {
    top: 120px;
  }
  .sgny-wpml p.wpml-not-active {top: 80px;}

}

/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /*==================== single post page  style =======================*/
  .sgny-post-inner-photos {
    margin-left: -5px;
    margin-bottom: 0;
  }
  .sgny-inner-photo-single {
    padding-left: 5px;
    width: 50%;
    float: left;
    margin-bottom: 0;
  }
  .sgny-post-inner-heading {
    padding: 28px 30px;
  }
  .sgny-author-avatar {
    float: left;
    margin-right: 35px;
    width: 130px;
    margin-bottom: 0;
  }
  /*====================About page  style =======================*/
  .col-xs-4.sgny-about-signature {
    width: 33.3333%;
  }
  .col-xs-8.sgny-about-socail {
    width: 66.6667%;
    text-align: right;
  }
  /*==================== 404 page  style =======================*/
  .sgny-404-text h1 {
    font-size: 200px;
    line-height: 150px;
  }
  /*==================== shop page  style =======================*/
  .woocommerce ul.products li.product,
  .woocommerce-page ul.products li.product,
  .woocommerce ul.products[class*=columns-] li.product,
  .woocommerce-page ul.products[class*=columns-] li.product {
    width: 50%;
  }
  .woocommerce #reviews #comments ol.commentlist li img.avatar {
    float: left;
  }
  .sgny-footer-widget-monster .sgny-footer-widget > ul, .sgny-footer-widget-monster .sgny-footer-widget > .tagcloud, .sgny-footer-widget-monster .sgny-footer-widget .menu-all-pages-container > ul {
    padding-left:130px;
  }
}

@media (max-width: 508px) {
  .woocommerce ul.order_details {
    margin: 0 0 1em;
    padding-left: 0;
  }
  .woocommerce ul.order_details li {
    margin-right: 15px;
    padding-right: 8px;
    margin-bottom: 15px;
  }
}
@media (max-width:480px) {
  .woocommerce-account form .form-row {
      width: 100%;
  }
}

@media (max-width:414px) {
  /*About page*/
  .col-xs-4.sgny-about-signature {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .col-xs-8.text-right.sgny-about-social {
    width: 100%;
    text-align: center;
  }

  /* Cart Page coupon code box */
  .woocommerce-cart form table.shop_table tbody td.actions .coupon #coupon_code{
    margin-right: 0;
  }
  .sgny-fix.sgny-author-bio {
    text-align: center;
  }
  .sgny-author-avatar {
    float: none;
    margin: 0 auto;
  }
  .sgny-fix.sgny-author-desc-warp {
    margin-top: 12px;
  }
  .woocommerce-cart form table.shop_table tbody td.actions .coupon #coupon_code{
    padding: 0 8px;
  }
  .woocommerce-cart form table.shop_table tbody td.actions .coupon input.button[type="submit"]{
    padding: 0 5px;
  }
 /*Checkout Page*/
 .woocommerce-checkout .form-row.form-row-first, .woocommerce-checkout .form-row.form-row-last {
    width: 100% !important;
  }
  .woocommerce-checkout table.shop_table th, .woocommerce-checkout table.shop_table td {
    padding: 15px 20px;
  }

}
@media (max-width: 375px) {
  /* Cart Page */
  .woocommerce-cart form table.shop_table tbody .quantity {
    height: auto;
    width: 50%;
  }
  .woocommerce table.cart td.actions .coupon .button, .woocommerce-page table.cart td.actions .button {
    width: 100%;
  }
  .woocommerce-cart form table.shop_table tbody td.actions .coupon #coupon_code {
    width: 100%;
    margin-bottom: 10px;
  }
}
@media (max-width:360px) {
  /* Checkout Page name fields */
  #billing_first_name_field {
    width: 100% !important;
  }
  #billing_last_name_field {
      width: 100% !important;
  }
}
@media (max-width:320px) {
  /* Cart Page coupon code box */
  .woocommerce-cart form table.shop_table tbody td.actions .coupon input.button[type="submit"]{
    padding: 0 10px;
  }
}
